* {

    text-align: center;
}


html { 
    background: url('https://cdn.shopify.com/s/files/1/0304/3013/4331/articles/TjMW65i8QoCK2SpYdrNl_1800x.jpg?v=1617659838') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  

